html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
}


header,
main {
    display: block
}

[hidden] {
    display: none
}

@media print {
    *,
    :after,
    :before {
        background: transparent!important;
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important
    }
    h2,
    p {
        orphans: 3;
        widows: 3
    }
    h2 {
        page-break-after: avoid
    }
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.58;
    color: #555;
    background-color: #fff
}

[role=button] {
    cursor: pointer
}


.h2,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: #555
}


.h2,
h2 {
    margin-top: 25px;
    margin-bottom: 12.5px
}

.h2,
h2 {
    font-size: 27px
}

p {
    margin: 0 0 12.5px
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.container:after,
.container:before {
    content: " ";
    display: table
}

.container:after {
    clear: both
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.row:after,
.row:before {
    content: " ";
    display: table
}

.row:after {
    clear: both
}


.col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.col-xs-12 {
    float: left
}

.col-xs-12 {
    width: 100%
}

@-ms-viewport {
    width: device-width
}

body {
    background-image: -webkit-linear-gradient(top, #008080, #329999);
    background-image: -o-linear-gradient(top, #008080 0, #329999 100%);
    background-image: linear-gradient(180deg, #008080 0, #329999);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FF008080", endColorstr="#FF329999", GradientType=0)
}


.white-text-container h2,
.white-text-container p {
    color: #fff
}

.content-wrapper {
    position: relative;
    z-index: 1
}

.section-container {
    padding: 60px 0 40px
}

.background-color-layer {
    background-size: cover;
    opacity: .15;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 30%;
    box-shadow: inset 0 -40px 60px 10px #008080
}

.card {
    border-radius: .25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: 3rem
}

.card .h2,
.card h2 {
    margin-top: 0;
    margin-bottom: 40px
}

.card .card-block {
    padding: 4rem
}

@media (min-width:992px) {
    .card .card-block {
        padding: 6rem
    }
}

/* Stile link */
a {
    color: #555;
	text-decoration: none;
}
a:hover {
    color: #f19319;
	text-decoration: none;
}

/* Imposta altezza massima tabella risultati */
div#risultati {
	max-height: 500px !important;
}
