html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

footer,
header,
main {
    display: block
}

[hidden] {
    display: none
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

img {
    border: 0
}

@media print {
    *,
    :after,
    :before {
        background: transparent!important;
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important
    }
    img {
        page-break-inside: avoid
    }
    img {
        max-width: 100%!important
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.58;
    color: #555;
    background-color: #fff
}

img {
    vertical-align: middle
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

[role=button] {
    cursor: pointer
}

.h1,
.h2,
.h3,
.h5,
h1,
h2,
h3,
h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: #000
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 25px;
    margin-bottom: 12.5px
}


.h5,
h5 {
    margin-top: 12.5px;
    margin-bottom: 12.5px
}

.h1,
h1 {
    font-size: 63px
}

.h2,
h2 {
    font-size: 27px
}

.h3,
h3 {
    font-size: 20px
}

.h5,
h5 {
    font-size: 18px
}

p {
    margin: 0 0 12.5px
}

.text-center {
    text-align: center
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.container:after,
.container:before {
    content: " ";
    display: table
}

.container:after {
    clear: both
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.row:after,
.row:before {
    content: " ";
    display: table
}

.row:after {
    clear: both
}

.col-md-4,
.col-md-8,
.col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.col-xs-12 {
    float: left
}

.col-xs-12 {
    width: 100%
}

@media (min-width:992px) {
    .col-md-4,
    .col-md-8 {
        float: left
    }
    .col-md-4 {
        width: 33.33333%
    }
    .col-md-8 {
        width: 66.66667%
    }
}

@-ms-viewport {
    width: device-width
}

body {
    background-image: -webkit-linear-gradient(top, #008080, #329999);
    background-image: -o-linear-gradient(top, #008080 0, #329999 100%);
    background-image: linear-gradient(180deg, #008080 0, #329999);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FF008080", endColorstr="#FF329999", GradientType=0)
}

.white-text-container h1,
.white-text-container h2,
.white-text-container h3,
.white-text-container h5,
.white-text-container p {
    color: #fff
}

.content-wrapper {
    position: relative;
    z-index: 1
}

.section-container {
    padding: 60px 0 40px
}

.footer-container {
    padding: 20px 0 30px
}

.background-color-layer {
    background-size: cover;
    opacity: .15;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 30%;
    box-shadow: inset 0 -40px 60px 10px #008080
}

.card {
    border-radius: .25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: 3rem
}

.card .h2,
.card h2 {
    margin-top: 0;
    margin-bottom: 40px
}

.card .card-block {
    padding: 4rem
}

@media (min-width:992px) {
    .card .card-block {
        padding: 6rem
    }
}

.h5,
h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700
}

/* Un po' di stile per i bottoni */

.button {
		font-family: 'Raleway', sans-serif;
  border-radius: 90px;
  background-color: #F08700;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1em;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button:hover {
	background-color: #f19319;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
	font-family: FontAwesome;
  content: '\f004';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Bottone flottante */
#preferiti {
    position: fixed;
    top: 3%;
    right: 3%;
    z-index: 999999;
}

@media (max-width: 768px) {
#preferiti {
    position: fixed;
	top: auto;
    bottom: 3%;
    right: 3%;
    z-index: 999999;
}
}

/* Floating label per box di ricerca */
.floating-form {
  width:100%;
}

.floating-label { 
  position:relative; 
  margin-bottom:20px; 
}
.floating-input , .floating-select {
  font-size:16px;
  font-family: 'Raleway', sans-serif;
  padding:4px 4px;
  display:block;
  width:100%;
  height:30px;
  background-color: transparent;
  border:none;
  border-bottom:1px solid #000;
}

.floating-input:focus , .floating-select:focus {
     outline:none;
     border-bottom:2px solid #F08700; 
}

label {
  color:#000; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:5px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
  top:-18px;
  font-size:14px;
  font-weight: bold;
  color:#F08700;
}

.floating-select:focus ~ label , .floating-select:not([value=""]):valid ~ label {
  top:-18px;
  font-size:14px;
  font-weight: bold;
  color:#F08700;
}

.floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
  width:50%;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.floating-textarea {
   min-height: 30px;
   max-height: 260px; 
   overflow:hidden;
  overflow-x: hidden; 
}

.highlight {
  position:absolute;
  height:50%; 
  width:100%; 
  top:15%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

.floating-input:focus ~ .highlight , .floating-select:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

/* Pulsante di chiusura novità */
.close {
	float:right;
	font-size: 80%;
}

/* Link riattivazione box novità */
#apri-novita {
	float:right;
	font-size: 0.5em;
	padding-top: 2%;
	display: none;
}

/* Restringi margini di ricerca quando box novità viene chiuso */
@media (min-width: 768px) {
.margini-ristretti {
	padding-right: 20%;
	padding-left: 20%;
}
}

/* Introduci un po' di padding-left al box novità su schermi larghi */
@media (min-width: 768px) {
#target {
	padding-left: 10%;
}
}

/* Introduci un po' di padding-top al box novità su schermi piccoli */
@media (max-width: 768px) {
#target {
	padding-top: 10%;
}
}

/* Stile link */
a {
    color: #000;
	text-decoration: none;
}
a:hover {
    color: #f19319;
	text-decoration: none;
}
